<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="prollySettings">
      <section 
        name="prolly" 
        type="Prolly.Configuration.Sections.ProllySection, Prolly" 
        allowLocation="true" 
        allowDefinition="Everywhere"
      />
    </sectionGroup>
      <!-- Other <section> and <sectionGroup> elements. -->
  </configSections>

  <prollySettings>
    <prolly>
      <timeout miliseconds="200"/>
      <circuitBreaker allowedFailures="2" openTimeInMiliseconds="200" />
    </prolly>
  </prollySettings>
</configuration>